---
---

@import "https://fonts.googleapis.com/css?family=Noto+Serif";
@import "https://fonts.googleapis.com/css?family=Roboto:900";
@import "https://fonts.googleapis.com/css?family=Roboto:600";
@import "https://fonts.googleapis.com/css?family=Roboto:400";
@import "susy";

$bgColor: #1e1e28;
$linkColor: #ac5b5a;
$headerColor: #CAAD9A;
$textColor: $headerColor;

body {
  margin: 0;
  background-color: $bgColor;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: $linkColor;
}

a:hover {
  text-decoration: underline;
}

.wrap {
  @include container;
  @media screen and (min-width: 720px) {
    width: 720px;
  }
}

.menubar {
  margin-bottom: 1em;
  font-family: "Roboto", "Helvetica";
  width: 100%;
  text-align: center;

  @media screen and (min-width: 610px) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (min-width: 610px) {
      display: flex;
      justify-content: center;
    }

    li {
      text-align: center;
      background-color: #23262d;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      border-bottom: thin solid #383C47;

      @media screen and (min-width: 610px) {
        display: inline;
        margin-bottom: 1em;

        padding: 0 1.5em;

        background-color: $bgColor;
        border-bottom: none;
      }
    }
  }
}

.header {
  color: $headerColor;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;

  img {
    width: 50%;

    @media screen and (min-width: 610px) {
      width: 350px;
    }
  }
}

.hero {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  color: $linkColor;
  font-family: "Noto serif", serif;
  font-size: 1.2em;
}

.content {
  margin-left: 1em;
  margin-right: 1em;
  color: $textColor;
  font-family: "Noto serif", serif;
  line-height: 1.7em;
  padding-bottom: 2em;

  h2 {
    font-family: "Roboto", "Helvetica";
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: $headerColor;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  h3 {
    font-family: "Roboto", "Helvetica";
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: 400;
    text-align: center;
    color: $headerColor;
    text-transform: uppercase;
    font-size: 1em;
  }

}

.friends-footer {
  background-color: #23262d;
  padding-top: 2em;
  padding-bottom: 2.7em;
  text-align: center;
  color: $textColor;
  font-family: "Noto serif", serif;


  h3 {
    font-family: "Roboto", "Helvetica";
    font-weight: 400;
    margin-bottom: 2em;
    color: $headerColor;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  ul {
    list-style: none;
  }

}

.contact-footer {
  padding-top: 2em;
  padding-bottom: 2.7em;
  text-align: center;
  color: $textColor;
  font-family: "Noto serif", serif;

  div {
    margin-top: 1em;
  }
}

.gallerywrap {
  margin-left: 1em;
  margin-right: 1em;
}

.gallery {
  @include susy-clearfix;

  @media screen and (min-width: 400px) {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  @media screen and (min-width: 800px) {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  padding: gutter(8);
  padding-bottom: 0;
}

.gallery-item {

  @media screen and (min-width: 400px) {
    @include gallery(4 of 8);
    margin-bottom: gutter(8);
    //margin: 4em;
  }

  @media screen and (min-width: 800px) {
    @include gallery(3 of 9);
    margin-bottom: gutter(9);
  }

  img {
    width: 60%;

    @media screen and (min-width: 400px) {
      width: 100%;
    }
  }
}

.talk {

  .abstract {
    text-align: left;

    margin-bottom: 4em;

    @media screen and (min-width: 400px) {
      text-align: justify;
    }
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .bio {
    text-align: left;

    @media screen and (min-width: 400px) {
      text-align: justify;
    }
  }

  text-align: center;

}

.speakerImage {
  width: 180px;
}

.tickets {
  margin-top: 2em;
  text-align: center;
}

.ticketsAvailable {
  font-family: "Roboto", "Helvetica";
  font-weight: 400;

  border: thin solid $linkColor;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  padding: .7em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item {

  margin-bottom: 2.5em;

  text-align: center;

  flex-basis: 100%;

  img {
    width: 30%;
  }

  @media screen and(min-width: 400px) {
    flex-basis: 30.1%;

    margin-bottom: 4em;

    img {
        width: 50%;
    }
  }

  @media screen and (min-width: 800px) {
    flex-basis: 20.1%;

    margin-bottom: 4em;

    img {
      width: 100%;
    }
  }

}


.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speaker_gallery_item {

  margin-bottom: 1.7em;
  margin-top: 1.7em;

  text-align: center;

  flex-basis: 100%;

  .titleTalk {
    a {
      color: $textColor;
    }
  }

  .speakername {
    a {
      font-family: "Roboto", "Helvetica";
    }
  }

  img {
    width: 30%;
  }

  @media screen and(min-width: 400px) {
    flex-basis: 30.1%;

    margin-bottom: 2em;

    img {
        width: 50%;
    }
  }

  @media screen and (min-width: 800px) {
    flex-basis: 30.1%;

    .profile {
      margin: 0;
      padding: 0;
    }

    img {
      width: 60%;
    }

    margin-bottom: 3em;

    text-align: center;

  }

}

.sold_out {
  font-family: "Roboto", "Helvetica";
  font-weight: 400;

  border-top: thin solid $linkColor;
  border-bottom: thin solid $linkColor;

  padding: .7em;

  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: $headerColor;
  text-transform: uppercase;
  font-size: 1.2em;

  .sold_out_info {
    margin-top: .5em;
  }
}

.schedule_frontpage {

  margin-top: 3em;
  margin-bottom: 5em;

  h3 {
    color: $linkColor;
    font-weight: 800;
    font-size: 1.5em;
    margin: 0;
  }

  .schedule_speaker {
    //font-weight: bold;
    font-weight: 600;
  }

  .time {
    color: $headerColor;
    font-weight: 800;
    font-size: 1.5em;  
    background-color: $bgColor; 
    padding-top: 1.5em;
    padding-bottom: .7em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .schedule {

    font-family: "Roboto", "Helvetica";
    font-weight:  200;

    .conference {
      background-color: white;
      color: #23262d;
      padding: .5em;
    }

    .talk {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: left;   
      background-color: #383C47;
    }

    .workshop {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: left;  
    }

    a {
      color: white;
    }

    ul.tracks {
      height: 100%;
      width: 100%;
      display: table;
    }

    li.track {
      width: 50%; 
      background-color: #383C47;
      height: 100%;
      display: table-cell;
    }
    
    li.workshops {
      width: 50%;
      background-color: #ac5b5a;    
      height: 100%;
      display: table-cell;
    }

  }
}

.text-center {
  text-align: center;
}