---
---

@import "https://fonts.googleapis.com/css?family=Noto+Serif";
@import "https://fonts.googleapis.com/css?family=Roboto:900";
@import "https://fonts.googleapis.com/css?family=Roboto:400";
@import "susy";

$bgColor: #1e1e28;
$linkColor: #ac5b5a;
$headerColor: #CAAD9A;
$textColor: $headerColor;

body {
  margin: 0;
  background-color: $bgColor;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: $linkColor;
}

a:hover {
  text-decoration: underline;
}

.wrap {
  @include container;
  @media screen and (min-width: 720px) {
    width: 720px;
  }
}

.menubar {
  margin-bottom: 1em;
  font-family: "Roboto", "Helvetica";
  width: 100%;
  text-align: center;

  @media screen and (min-width: 610px) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (min-width: 610px) {
      display: flex;
      justify-content: center;
    }

    li {
      text-align: center;
      background-color: #23262d;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      border-bottom: thin solid #383C47;

      @media screen and (min-width: 610px) {
        display: inline;
        margin-bottom: 1em;

        padding: 0 1.5em;

        background-color: $bgColor;
        border-bottom: none;
      }
    }
  }
}

.header {
  color: $headerColor;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em;

  img {
    width: 50%;

    @media screen and (min-width: 610px) {
      width: 350px;
    }
  }
}

.hero {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  color: $linkColor;
  font-family: "mrs-eaves",sans-serif;
  font-size: 1.2em;
}

.content {
  margin-left: 1em;
  margin-right: 1em;
  color: $textColor;
  font-family: "Noto serif", serif;
  line-height: 1.7em;
  padding-bottom: 2em;

  h2 {
    font-family: "Roboto", "Helvetica";
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: $headerColor;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  h3 {
    font-family: "Roboto", "Helvetica";
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: 400;
    text-align: center;
    color: $headerColor;
    text-transform: uppercase;
    font-size: 1em;
  }

}

.sponsors-footer {
  background-color: #23262d;
  padding-top: 2em;
  padding-bottom: 2.7em;
  text-align: center;
  color: $textColor;
  font-family: "Noto serif", serif;


  h3 {
    font-family: "Roboto", "Helvetica";
    font-weight: 400;
    margin-bottom: 2em;
    color: $headerColor;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  ul {
    //padding: 0;
    list-style: none;
  }

  /*img {
    width: 50%;
  }*/
}

.contact-footer {
  padding-top: 2em;
  padding-bottom: 2.7em;
  text-align: center;
  color: $textColor;
  font-family: "Noto serif", serif;

  div {
    margin-top: 1em;
  }
}

.gallerywrap {
  margin-left: 1em;
  margin-right: 1em;
}

.gallery {
  @include susy-clearfix;

  @media screen and (min-width: 400px) {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  @media screen and (min-width: 800px) {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  padding: gutter(8);
  padding-bottom: 0;
}

.gallery-item {

  @media screen and (min-width: 400px) {
    @include gallery(4 of 8);
    margin-bottom: gutter(8);
    //margin: 4em;
  }

  @media screen and (min-width: 800px) {
    @include gallery(3 of 9);
    margin-bottom: gutter(9);
  }

  img {
    width: 60%;

    @media screen and (min-width: 400px) {
      width: 100%;
    }
  }
}

.speakers {

  text-align: center;

  /*@include container;
  @include susy-clearfix;*/

  img {
    width: 160px;
  }

  .profile {
    //@include span(2);
  }

  .titleTalk {
//    @include span(3 last);
    font-size: 1em;
    a {
      color: $textColor;
    }
    //font-family: font-family: "Roboto", "Helvetica";
  }

  .speakername {
    a {
      color: $linkColor;
    }
  }

}

.talk {

  .abstract {
    text-align: left;

    margin-bottom: 4em;

    @media screen and (min-width: 400px) {
      text-align: justify;
    }
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .bio {
    text-align: left;

    @media screen and (min-width: 400px) {
      text-align: justify;
    }
  }

  text-align: center;

}

.speakerImage {
  width: 180px;
}
