@import "https://fonts.googleapis.com/css?family=Noto+Serif";
@import "https://fonts.googleapis.com/css?family=Roboto:900";
@import "https://fonts.googleapis.com/css?family=Roboto:400";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #1e1e28; }
  @media screen and (max-width: 480px) {
    body {
      font-size: -5em; } }

p {
  margin-top: 2em;
  margin-bottom: 2em; }

.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.menubar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .menubar {
      margin-top: 0; } }
  .menubar ul {
    list-style: none;
    margin-top: 0em;
    margin-bottom: 1.5em;
    white-space: nowrap;
    display: inline; }
    .menubar ul li {
      margin-top: .4em;
      margin-right: 2em;
      display: inline; }
      @media screen and (max-width: 480px) {
        .menubar ul li {
          display: block;
          margin: 0;
          margin-top: .3em;
          margin-bottom: .3em;
          padding-top: .5em;
          padding-bottom: .5em;
          background-color: #23262d; } }

.header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  text-align: center;
  background-color: #1e1e28; }
  .header .title {
    font-weight: 900; }
  .header span {
    font-weight: 400; }
  .header img {
    width: 25%; }
    @media screen and (max-width: 480px) {
      .header img {
        width: 40%; } }
  .header .date {
    font-size: 2em;
    font-family: "Roboto", "Helvetica";
    margin-top: 1em;
    font-weight: 400;
    color: #CAAD9A;
    text-transform: uppercase; }
    @media screen and (max-width: 1114px) {
      .header .date {
        font-size: 1.5em; } }
    @media screen and (max-width: 480px) {
      .header .date {
        font-size: 1em; } }

.hero {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-family: "mrs-eaves",sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  color: #ac5b5a;
  background-color: #c48c8b;
  background-color: #1e1e28; }
  @media screen and (max-width: 480px) {
    .hero {
      font-size: 1em; } }
  .hero div {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    margin: 0 auto;
    float: none; }
    @media screen and (max-width: 1114px) {
      .hero div {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
        margin: 0; } }
    @media screen and (max-width: 480px) {
      .hero div {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        font-family: "Roboto", "Helvetica";
        font-weight: normal; } }

.content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  float: none;
  padding-bottom: 4em;
  color: #CAAD9A;
  font-family: "Noto Serif", "serif";
  line-height: 2.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
  text-justify: inter-word;
  /*p {
    @media screen and (max-width: $minBreak) {
      text-align: left;
    }
  }*/ }
  .content .inner {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    margin: 0 auto;
    float: none; }
    @media screen and (max-width: 1114px) {
      .content .inner {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%;
        margin: 0 auto;
        float: none; } }
    @media screen and (max-width: 480px) {
      .content .inner {
        width: 91.52542%;
        float: left;
        margin-right: 1.69492%;
        margin: 0 auto;
        float: none;
        text-align: left; } }
  .content a {
    color: #ac5b5a; }
  .content a:visited {
    color: #ac5b5a; }
  .content ul {
    margin-left: 2em;
    margin-bottom: 2.5em; }
    @media screen and (max-width: 480px) {
      .content ul {
        margin-left: 0;
        padding-left: 1em; } }
    .content ul li {
      margin-bottom: 0.2em; }

.footer {
  background-color: #23262d;
  text-align: center;
  font-family: "Roboto", "Helvetica";
  line-height: 2em;
  color: #CAAD9A; }

.contact-footer {
  border-top: thin solid #3d3d3d;
  padding-top: 2em;
  padding-bottom: 2em; }

.sponsors-footer {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  margin: 0 auto;
  float: none;
  padding-top: 1em;
  padding-bottom: 4em; }

a {
  font-family: "Roboto", "Helvetica";
  font-weight: 400;
  text-decoration: none;
  color: #ac5b5a; }

a:hover {
  text-decoration: underline;
  color: #ac5b5a; }

a:visited {
  color: #ac5b5a; }

a:active {
  color: #ac5b5a; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica"; }

h1 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase; }

h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase; }
  @media screen and (max-width: 1114px) {
    h2 {
      font-size: 1.5em; } }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1em;
      font-weight: bold; } }

h3 {
  margin: 0;
  margin-top: 3em;
  font-weight: 400;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 1em; } }

h4 {
  margin-top: 2.5em; }

h5 {
  margin: 0; }

ul.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 2.27273%;
  margin-bottom: 2em;
  margin-top: 2em; }
  ul.gallery:after {
    content: " ";
    display: block;
    clear: both; }

.gallery-item {
  width: 31.81818%;
  float: left;
  margin-bottom: 2.27273%;
  list-style: none; }
  .gallery-item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .gallery-item:nth-child(3n + 2) {
    margin-left: 34.09091%;
    margin-right: -100%;
    clear: none; }
  .gallery-item:nth-child(3n + 3) {
    margin-left: 68.18182%;
    margin-right: -100%;
    clear: none; }
  @media screen and (max-width: 1114px) {
    .gallery-item {
      width: 43.18182%;
      float: left;
      padding: 0; }
      .gallery-item:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery-item:nth-child(2n + 2) {
        margin-left: 45.45455%;
        margin-right: -100%;
        clear: none; } }
  @media screen and (max-width: 480px) {
    .gallery-item {
      width: 88.63636%;
      float: left;
      padding: 0; }
      .gallery-item:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; } }
  .gallery-item img {
    width: 100%; }
