<div class="hero">
    flatMap(Oslo) a functional programming conference
    with focus on Scala and the Java Virtual Machine

    <br/>
    <br/>
    <div style="display:flex; flex-direction: column;">
    <a href="https://gitter.im/flatmaposlo/Lobby">
        <img src="https://badges.gitter.im/flatmaposlo/Lobby.svg"
             alt="Join the chat at https://gitter.im/flatmaposlo/Lobby"/>
    </a>
    <a href="https://ti.to/flatmap-oslo/2018" style="color: black;">Tickets</a>
    </div>
</div>
