<div class="hero">
  <div>
    flatMap(Oslo) a functional programming conference
    with focus on Scala and the Java Virtual Machine
  </div>
</div>
<div class="tickets">
  <!--<span class="ticketsAvailable"><a href="#">General Admission sold out! A tiny Last Minute batch will be available April 1st</a></span>-->
  <div class="wrap">
  <div class="sold_out">
    <div class="sold_out_header">General Admission sold out!</div>
    <div class="sold_out_info">A tiny Last Minute batch will be available April 1st</div>
  </div>
  </div>
</div>
