<section id="venue">
    <h3>
        Welcome to Gamle Museet (The Old Museum)
    </h3>

    <p>Once an exquisite display of modern art, we felt it was a natural match for
        a functional programming conference.
        We are hopeful it will provide a perfect atmosphere.</p>

    <p>Gamle Museet is located in the centre of Oslo, five minutes walking from the central station.
    </p>
    <div class="vertical-space-above"></div>

    <img
            class="max-width-90-percent"
            src="{{site.path}}/assets/img/venue_bw.png"
            alt="Picture of venue"
    />

</section>