<section id="ticket_sale" >
    <h3>
        Ticket sale is now open!
    </h3>
    <p>
        At flatMap(Oslo) we love sharing our knowledge with the community,
        which is why recordings of all talks are freely available.

        We strongly urge you to sample the talks from prior years at
        <a href="https://vimeo.com/user18356272">our vimeo page</a>.
    </p>

    <p>
        Prepare to be intrigued, awed and enlightened.
        Our ambition is that there shall always be something to learn for programmers at all levels.
    </p>

    <p>
        To experience flatMap(Oslo),
        <a href="https://ti.to/flatmap-oslo/2018">
            get your ticket while they are still available
        </a>
    </p>
</section>