<section id="about" class="text-center">
    <h3 class="text-center">
        Is this for me?
    </h3>
    <p>
        flatMap(Oslo) is all about sharing knowledge with the community,
        which is why recordings of all talks are freely available.
    </p>
    <p>
        If you're undecided if flatMap(Oslo) is for you, we strongly urge
            you to check out the talks from prior years at
        <a href="https://vimeo.com/user18356272">our vimeo page</a>.
    </p>
    <p>
        Prepare to be intrigued, awed and enlightened. The level of the talks
         at flatMap(Oslo) is high, and we always maintain our ambition that
         there shall be something to learn for programmers at all levels.
    </p>
</section>