@import "atom";

.wrap {
  width: calc(100% - 1rem);
  max-width: 720px;
  display: block;
  margin: 0 auto;
  clear: both;
}

h1, h2, h3, h4, h5, h6{
  a{
    text-decoration: none;
  }
}

.menubar {
  padding-bottom: $style-margin-medium;
  color: $color-white;
  width: 100%;
  text-align: center;

  @media screen and (min-width: 610px) {
    padding-top: $style-margin-medium;
    padding-bottom: $style-margin-medium;
  }

  a {
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (min-width: 610px) {
      display: flex;
      justify-content: center;
    }

    li {
      text-align: center;
      padding-top: $style-margin;
      padding-bottom: $style-margin;
      border-bottom: $style-border;

      @media screen and (min-width: 610px) {
        display: inline;
        margin-bottom: $style-margin-medium;
        padding: 0 1.5em;
        border-bottom: none;
      }
    }
  }
}

.header {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  padding-top: $style-margin;
  padding-bottom: $style-margin-large;

  img {
    width: 80vh;
    @media screen and (min-width: 610px) {
      max-width: 60%;
    }
    @media screen and (max-width: 599px) {
      max-width: calc(100% - 1rem) ;
    }
  }
}

.hero {
  margin-left: $style-margin-medium;
  margin-right: $style-margin-medium;
  margin-bottom: $style-margin-large;
  margin-top: $style-margin-large;
  text-align: center;
  font-size: 1.2rem;
}

.content {
  margin-left: $style-margin-medium;
  margin-right: $style-margin-medium;
  margin-bottom: $style-margin-large;
  color: $color-text;
}

.gallery {
  clear: both;

  padding: gutter(8);
  padding-bottom: 0;

  li {
    margin: $style-margin;
    display: inline-block;
    @media screen and (max-width: 799px) {
      width: calc((100% - 2rem) / 2);

    }

    @media screen and (min-width: 800px) {
      width: calc((100% - 2rem) / 3);
    }

    img {
      width: 100%;
    }
  }
}


.speakerImage {
  width: 180px;
  border-radius: 90px;
  margin-top: $style-margin-large;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
}

.text-center{
  text-align: center;
}