@import "reset";

@import "https://fonts.googleapis.com/css?family=Noto+Serif";
@import "https://fonts.googleapis.com/css?family=Roboto:900";
@import "https://fonts.googleapis.com/css?family=Roboto:600";
@import "https://fonts.googleapis.com/css?family=Roboto:400";

/* color */
$color-white: #FFF;
$color-gray: #999;
$color-gray-light: lighten($color-gray, 20%);
$color-gray-lighter: lighten($color-gray, 40%);
$color-gray-dark: darken($color-gray, 20%);
$color-gray-darker: darken($color-gray, 40%);
$color-gray-dark-transparent: rgba(3,3,3,.85);
$color-black: #212121;

$color-change: 30%;

$color-green: #4CAF50;
$color-green-light: lighten($color-green, $color-change);
$color-green-dark: darken($color-green, $color-change);

$color-blue: #2196f3;
$color-blue-light: lighten($color-blue, $color-change);
$color-blue-dark: darken($color-blue, $color-change);

$color-indigo: #3f51b5;
$color-indigo-light: lighten($color-indigo, $color-change);
$color-indigo-dark: darken($color-indigo, $color-change);

$color-deep-purple: #673ab7;
$color-deep-purple-light: lighten($color-deep-purple, $color-change);
$color-deep-purple-dark: lighten($color-deep-purple, $color-change);

$color-red: #f44336;
$color-red-light: lighter($color-red, $color-change);
$color-red-dark: darken($color-red, $color-change);

$color-amber: #FF9800;
$color-amber-light: lighter($color-amber, $color-change);
$color-amber-dark: lighter($color-amber, $color-change);;

/* Theme color */
$color-background: $color-gray-darker;
$color-text: $color-white;
$color-link: $color-white;

$font-family-heading: 'Roboto', sans-serif;
$font-family-subheading: $font-family-heading;
$font-family-base: 'Roboto', sans-serif;
$font-family-input: 'Roboto', sans-serif;

$arrow: '\27A4';
$arrow-down: '\25BC';

$unit: 0.1rem;

$border-width: $unit;

$style-border: $unit solid $color-gray-light;
$style-border-transparent: 0.1rem solid transparent;

$style-box-shadow: 0 0 0.5rem $color-gray-darker;
$style-text-shadow: 0px 0px 0.5rem #000000, 0px 0px 0.2rem #000000;
$style-margin: $unit * 2;
$style-margin-medium: $style-margin * 3;
$style-margin-large: $style-margin * 10;
$style-margin-xlarge: $style-margin * 30;

@mixin on-device($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small) and (max-width: $break-large) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
