@import "https://fonts.googleapis.com/css?family=Noto+Serif";
@import "https://fonts.googleapis.com/css?family=Roboto:900";
@import "https://fonts.googleapis.com/css?family=Roboto:600";
@import "https://fonts.googleapis.com/css?family=Roboto:400";
body {
  margin: 0;
  background-color: #1e1e28; }

a {
  font-weight: 400;
  text-decoration: none;
  color: #ac5b5a; }

a:hover {
  text-decoration: underline; }

.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 720px) {
    .wrap {
      width: 720px; } }

.menubar {
  margin-bottom: 1em;
  font-family: "Roboto", "Helvetica";
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 610px) {
    .menubar {
      margin-top: 1.5em;
      margin-bottom: 1.5em; } }
  .menubar ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    @media screen and (min-width: 610px) {
      .menubar ul {
        display: flex;
        justify-content: center; } }
    .menubar ul li {
      text-align: center;
      background-color: #23262d;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      border-bottom: thin solid #383C47; }
      @media screen and (min-width: 610px) {
        .menubar ul li {
          display: inline;
          margin-bottom: 1em;
          padding: 0 1.5em;
          background-color: #1e1e28;
          border-bottom: none; } }

.header {
  color: #CAAD9A;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1em; }
  .header img {
    width: 50%; }
    @media screen and (min-width: 610px) {
      .header img {
        width: 350px; } }

.hero {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  color: #ac5b5a;
  font-family: "Noto serif", serif;
  font-size: 1.2em; }

.content {
  margin-left: 1em;
  margin-right: 1em;
  color: #CAAD9A;
  font-family: "Noto serif", serif;
  line-height: 1.7em;
  padding-bottom: 2em; }
  .content h2 {
    font-family: "Roboto", "Helvetica";
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: #CAAD9A;
    text-transform: uppercase;
    font-size: 1.2em; }
  .content h3 {
    font-family: "Roboto", "Helvetica";
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: 400;
    text-align: center;
    color: #CAAD9A;
    text-transform: uppercase;
    font-size: 1em; }

.friends-footer {
  background-color: #23262d;
  padding-top: 2em;
  padding-bottom: 2.7em;
  text-align: center;
  color: #CAAD9A;
  font-family: "Noto serif", serif; }
  .friends-footer h3 {
    font-family: "Roboto", "Helvetica";
    font-weight: 400;
    margin-bottom: 2em;
    color: #CAAD9A;
    text-transform: uppercase;
    font-size: 1.2em; }
  .friends-footer ul {
    list-style: none; }

.contact-footer {
  padding-top: 2em;
  padding-bottom: 2.7em;
  text-align: center;
  color: #CAAD9A;
  font-family: "Noto serif", serif; }
  .contact-footer div {
    margin-top: 1em; }

.gallerywrap {
  margin-left: 1em;
  margin-right: 1em; }

.gallery {
  padding: 2.5641%;
  padding-bottom: 0; }
  .gallery:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 400px) {
    .gallery {
      margin-left: auto;
      margin-right: auto;
      width: 300px; } }
  @media screen and (min-width: 800px) {
    .gallery {
      margin-left: auto;
      margin-right: auto;
      width: 600px; } }

@media screen and (min-width: 400px) {
  .gallery-item {
    width: 48.71795%;
    float: left;
    margin-bottom: 2.5641%; }
    .gallery-item:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .gallery-item:nth-child(2n + 2) {
      margin-left: 51.28205%;
      margin-right: -100%;
      clear: none; } }
@media screen and (min-width: 800px) {
  .gallery-item {
    width: 31.81818%;
    float: left;
    margin-bottom: 2.27273%; }
    .gallery-item:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .gallery-item:nth-child(3n + 2) {
      margin-left: 34.09091%;
      margin-right: -100%;
      clear: none; }
    .gallery-item:nth-child(3n + 3) {
      margin-left: 68.18182%;
      margin-right: -100%;
      clear: none; } }
.gallery-item img {
  width: 60%; }
  @media screen and (min-width: 400px) {
    .gallery-item img {
      width: 100%; } }

.talk {
  text-align: center; }
  .talk .abstract {
    text-align: left;
    margin-bottom: 4em; }
    @media screen and (min-width: 400px) {
      .talk .abstract {
        text-align: justify; } }
  .talk h3 {
    margin-top: 1em;
    margin-bottom: 1em; }
  .talk .bio {
    text-align: left; }
    @media screen and (min-width: 400px) {
      .talk .bio {
        text-align: justify; } }

.speakerImage {
  width: 180px; }

.tickets {
  margin-top: 2em;
  text-align: center; }

.ticketsAvailable {
  font-family: "Roboto", "Helvetica";
  font-weight: 400;
  border: thin solid #ac5b5a;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  padding: .7em; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.gallery__item {
  margin-bottom: 2.5em;
  text-align: center;
  flex-basis: 100%; }
  .gallery__item img {
    width: 30%; }
  @media screen and (min-width: 400px) {
    .gallery__item {
      flex-basis: 30.1%;
      margin-bottom: 4em; }
      .gallery__item img {
        width: 50%; } }
  @media screen and (min-width: 800px) {
    .gallery__item {
      flex-basis: 20.1%;
      margin-bottom: 4em; }
      .gallery__item img {
        width: 100%; } }

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.speaker_gallery_item {
  margin-bottom: 1.7em;
  margin-top: 1.7em;
  text-align: center;
  flex-basis: 100%; }
  .speaker_gallery_item .titleTalk a {
    color: #CAAD9A; }
  .speaker_gallery_item .speakername a {
    font-family: "Roboto", "Helvetica"; }
  .speaker_gallery_item img {
    width: 30%; }
  @media screen and (min-width: 400px) {
    .speaker_gallery_item {
      flex-basis: 30.1%;
      margin-bottom: 2em; }
      .speaker_gallery_item img {
        width: 50%; } }
  @media screen and (min-width: 800px) {
    .speaker_gallery_item {
      flex-basis: 30.1%;
      margin-bottom: 3em;
      text-align: center; }
      .speaker_gallery_item .profile {
        margin: 0;
        padding: 0; }
      .speaker_gallery_item img {
        width: 60%; } }

.sold_out {
  font-family: "Roboto", "Helvetica";
  font-weight: 400;
  border-top: thin solid #ac5b5a;
  border-bottom: thin solid #ac5b5a;
  padding: .7em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: #CAAD9A;
  text-transform: uppercase;
  font-size: 1.2em; }
  .sold_out .sold_out_info {
    margin-top: .5em; }

.announce {
  font-family: "Roboto", "Helvetica";
  font-weight: 400;
  border-top: thin solid #ac5b5a;
  border-bottom: thin solid #ac5b5a;
  padding: .7em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: #CAAD9A;
  text-transform: uppercase;
  font-size: 1.2em; }
  .announce .announce_info {
    margin-top: .5em; }

.schedule_frontpage {
  margin-top: 3em;
  margin-bottom: 5em; }
  .schedule_frontpage h3 {
    color: #ac5b5a;
    font-weight: 800;
    font-size: 1.5em;
    margin: 0; }
  .schedule_frontpage .schedule_speaker {
    font-weight: 600; }
  .schedule_frontpage .time {
    color: #CAAD9A;
    font-weight: 800;
    font-size: 1.5em;
    background-color: #1e1e28;
    padding-top: 1.5em;
    padding-bottom: .7em; }
  .schedule_frontpage ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .schedule_frontpage .schedule {
    font-family: "Roboto", "Helvetica";
    font-weight: 200; }
    .schedule_frontpage .schedule .conference {
      background-color: white;
      color: #23262d;
      padding: .5em; }
    .schedule_frontpage .schedule .talk {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: left;
      background-color: #383C47; }
    .schedule_frontpage .schedule .workshop {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: left; }
    .schedule_frontpage .schedule a {
      color: white; }
    .schedule_frontpage .schedule ul.tracks {
      height: 100%;
      width: 100%;
      display: table; }
    .schedule_frontpage .schedule li.track {
      width: 50%;
      background-color: #383C47;
      height: 100%;
      display: table-cell; }
    .schedule_frontpage .schedule li.workshops {
      width: 50%;
      background-color: #ac5b5a;
      height: 100%;
      display: table-cell; }

.text-center {
  text-align: center; }
