---
---

@import "../_sass/organism";

.gallery {
  clear: both;

  padding: gutter(8);
  padding-bottom: 0;

  li{
    margin: $style-margin;
    display: inline-block;
    @media screen and (max-width: 799px) {
      width: calc((100% - 2rem)/2);
       
    }

    @media screen and (min-width: 800px) {
      width: calc((100% - 2rem)/3);
    }

    img {
        width: 100%;
    }
  }
}

.talk {

  .abstract {
    text-align: left;

    margin-bottom: 4em;

    @media screen and (min-width: 400px) {
      text-align: justify;
    }
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .bio {
    text-align: left;

    @media screen and (min-width: 400px) {
      text-align: justify;
    }
  }

  text-align: center;

}

.speakerImage {
  width: 180px;
}

.tickets {
  margin-top: 2em;
  text-align: center;
}

.ticketsAvailable {

  border: $style-border;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  padding: .7em;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speaker_gallery_item {

  margin-bottom: 1.7em;
  margin-top: 1.7em;

  text-align: center;

  flex-basis: 100%;

  .titleTalk {
    a {
      color: $color-text;
    }
  }

  .speakername {
    a {
      
    }
  }

  img {
    width: 30%;
  }

  @media screen and(min-width: 400px) {
    flex-basis: 30.1%;

    margin-bottom: 2em;

    img {
        width: 50%;
    }
  }

  @media screen and (min-width: 800px) {
    flex-basis: 30.1%;

    .profile {
      margin: 0;
      padding: 0;
    }

    img {
      width: 60%;
    }

    margin-bottom: 3em;

    text-align: center;

  }

}

.sold_out {

  border-top: $style-border;
  border-bottom: $style-border;

  padding: .7em;

  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;

  .sold_out_info {
    margin-top: .5em;
  }
}

.schedule_frontpage {

  margin-top: 3em;
  margin-bottom: 5em;

  h3 {
    font-weight: 800;
    font-size: 1.5em;
    margin: 0;
  }

  .schedule_speaker {
    //font-weight: bold;
    font-weight: 600;
  }

  .time {
    font-weight: 800;
    font-size: 1.5em;  
    background-color: $color-background; 
    padding-top: 1.5em;
    padding-bottom: .7em;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .schedule {

    font-family: "Roboto", "Helvetica";
    font-weight:  200;

    .conference {
      background-color: $color-white;
      color: $color-black;
      padding: .5em;
    }

    .talk {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: left;   
      background-color: #383C47;
    }

    .workshop {
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: left;  
    }

    a {
      color: white;
    }

    ul.tracks {
      height: 100%;
      width: 100%;
      display: table;
    }

    li.track {
      width: 50%; 
      background-color: #383C47;
      height: 100%;
      display: table-cell;
    }
    
    li.workshops {
      width: 50%;
      background-color: #ac5b5a;    
      height: 100%;
      display: table-cell;
    }

  }
}

.text-center {
  text-align: center;
}