@import "https://fonts.googleapis.com/css?family=Noto+Serif";
@import "https://fonts.googleapis.com/css?family=Roboto:900";
@import "https://fonts.googleapis.com/css?family=Roboto:600";
@import "https://fonts.googleapis.com/css?family=Roboto:400";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, input, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, textarea, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after, *::before, *::after { box-sizing: border-box; }

/* color */
/* Theme color */
body { font-family: "Roboto", sans-serif; line-height: 1.4; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #FFF; background-color: #212121; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto", sans-serif; line-height: 1.2; }

h1 { font-size: calc(1vw + 2.875rem); margin: 2rem 0 0.4rem 0; text-transform: uppercase; text-align: center; }

h2 { font-size: 2.6rem; margin: 1.4rem 0 0.4rem 0; }

h3 { font-size: 2rem; margin: 1rem 0 0.4rem 0; }

h4 { font-size: 1.8rem; margin: 0.8rem 0 0.4rem 0; }

h5 { font-size: 1.6rem; margin: 0.4rem 0 0.2rem 0; }

h6 { font-size: 1.4rem; margin: 0.4rem 0 0.2rem 0; }

p { margin-bottom: 0.4rem; margin-top: 0.4rem; line-height: 1.4; font-size: calc(0.2vw + 1rem); }

em { font-style: italic; }

strong { font-weight: bold; }

a { text-decoration: dotted; color: #FFF; }

a:hover { text-decoration: underline; }

p { margin-bottom: 0.6rem; }

.wrap { width: calc(100% - 1rem); max-width: 720px; display: block; margin: 0 auto; clear: both; }

.menubar { padding-bottom: 0.6rem; background-color: #673ab7; color: #FFF; width: 100%; text-align: center; }
@media screen and (min-width: 610px) { .menubar { padding-top: 0.6rem; padding-bottom: 0.6rem; } }
.menubar a { color: #FFF; text-decoration: none; text-transform: uppercase; }
.menubar ul { padding: 0; margin: 0; list-style: none; }
@media screen and (min-width: 610px) { .menubar ul { display: flex; justify-content: center; } }
.menubar ul li { text-align: center; padding-top: 0.2rem; padding-bottom: 0.2rem; border-bottom: 0.1rem solid #cccccc; }
@media screen and (min-width: 610px) { .menubar ul li { display: inline; margin-bottom: 0.6rem; padding: 0 1.5em; border-bottom: none; } }

.header { background-color: #673ab7; color: #FFF; text-transform: uppercase; text-align: center; padding-top: 0.2rem; padding-bottom: 2rem; }
.header img { width: 80vh; }
@media screen and (min-width: 610px) { .header img { max-width: 60%; } }
@media screen and (max-width: 599px) { .header img { max-width: calc(100% - 1rem); } }

.hero { margin-left: 0.6rem; margin-right: 0.6rem; margin-bottom: 2rem; margin-top: 2rem; text-align: center; font-size: 1.2rem; }

.content { margin-left: 0.6rem; margin-right: 0.6rem; margin-bottom: 2rem; color: #FFF; }

.announce { padding: 0.6rem; color: #212121; background-color: #FFF; text-align: center; text-transform: uppercase; font-size: 1.3rem; }
.announce .wrap { margin-top: 0.2rem; }

#venue { padding: 0; text-align: center; }
#venue .address { position: absolute; z-index: 999; background: #333333; color: #fff; margin-top: 0.6rem; padding: 0.6rem; width: 12rem; text-align: left; }
#venue .address h2 { padding: 0; margin: 0; }

#map { height: 25vh; min-height: 25vw; }

.about, .sponsorer { padding-top: 2rem; padding-bottom: 0.6rem; text-align: center; }

.about { background-color: #cccccc; color: #333333; padding-bottom: 2rem; }
.about .firm { font-weight: bold; }
.about a { color: #333333; }

.footer { background: #333333; }
.footer ul { list-style: none; }

.gallery { clear: both; padding: gutter(8); padding-bottom: 0; }
.gallery li { margin: 0.2rem; display: inline-block; }
@media screen and (max-width: 799px) { .gallery li { width: calc((100% - 2rem)/2); } }
@media screen and (min-width: 800px) { .gallery li { width: calc((100% - 2rem)/3); } }
.gallery li img { width: 100%; }

.talk { text-align: center; }
.talk .abstract { text-align: left; margin-bottom: 4em; }
@media screen and (min-width: 400px) { .talk .abstract { text-align: justify; } }
.talk h3 { margin-top: 1em; margin-bottom: 1em; }
.talk .bio { text-align: left; }
@media screen and (min-width: 400px) { .talk .bio { text-align: justify; } }

.speakerImage { width: 180px; }

.tickets { margin-top: 2em; text-align: center; }

.ticketsAvailable { border: 0.1rem solid #cccccc; border-top-left-radius: 2em; border-top-right-radius: 2em; border-bottom-right-radius: 2em; border-bottom-left-radius: 2em; padding: .7em; }

.flexbox { display: flex; flex-wrap: wrap; justify-content: space-between; }

.speakers { display: flex; flex-wrap: wrap; justify-content: space-between; }

.speaker_gallery_item { margin-bottom: 1.7em; margin-top: 1.7em; text-align: center; flex-basis: 100%; }
.speaker_gallery_item .titleTalk a { color: #FFF; }
.speaker_gallery_item img { width: 30%; }
@media screen and (min-width: 400px) { .speaker_gallery_item { flex-basis: 30.1%; margin-bottom: 2em; }
  .speaker_gallery_item img { width: 50%; } }
@media screen and (min-width: 800px) { .speaker_gallery_item { flex-basis: 30.1%; margin-bottom: 3em; text-align: center; }
  .speaker_gallery_item .profile { margin: 0; padding: 0; }
  .speaker_gallery_item img { width: 60%; } }

.sold_out { border-top: 0.1rem solid #cccccc; border-bottom: 0.1rem solid #cccccc; padding: .7em; margin-top: 2em; margin-bottom: 1em; text-align: center; text-transform: uppercase; font-size: 1.2em; }
.sold_out .sold_out_info { margin-top: .5em; }

.schedule_frontpage { margin-top: 3em; margin-bottom: 5em; }
.schedule_frontpage h3 { font-weight: 800; font-size: 1.5em; margin: 0; }
.schedule_frontpage .schedule_speaker { font-weight: 600; }
.schedule_frontpage .time { font-weight: 800; font-size: 1.5em; background-color: #333333; padding-top: 1.5em; padding-bottom: .7em; }
.schedule_frontpage ul { margin: 0; padding: 0; list-style: none; }
.schedule_frontpage .schedule { font-family: "Roboto", "Helvetica"; font-weight: 200; }
.schedule_frontpage .schedule .conference { background-color: #FFF; color: #212121; padding: .5em; }
.schedule_frontpage .schedule .talk { padding-left: 1em; padding-right: 1em; padding-top: 1em; padding-bottom: 1em; text-align: left; background-color: #383C47; }
.schedule_frontpage .schedule .workshop { padding-left: 1em; padding-right: 1em; padding-top: 1em; padding-bottom: 1em; text-align: left; }
.schedule_frontpage .schedule a { color: white; }
.schedule_frontpage .schedule ul.tracks { height: 100%; width: 100%; display: table; }
.schedule_frontpage .schedule li.track { width: 50%; background-color: #383C47; height: 100%; display: table-cell; }
.schedule_frontpage .schedule li.workshops { width: 50%; background-color: #ac5b5a; height: 100%; display: table-cell; }

.text-center { text-align: center; }
